<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/styles/doctoresAdmin.css}" />
  <title>Inicio</title>
</head>

<body>

  <div th:replace="Admin/fragmentosAdmin :: nav"></div>

  <section class="content">
    <div class="main-cards">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <i class="fa-solid fa-user-doctor fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Manejo de Doctores</h5>
            </div>

            <div style="display: block;" class="modal-content">
              <div style="display: block;" class="modal-header">
                <h3 style="display: block;" class="modal-title" id="modalEditarTitle">Editar Doctor</h3>
              </div>
              <div style="display: block;" class="modal-body">

                <form class="form" method="POST" th:action="@{/doctores/guardar}" th:object="${doctor}">
                  <input th:field="*{idDoctor}" type="hidden" name="idDoctor">
                  <input th:field="*{nombre}" type="text" placeholder="Nombre" name="nombre"><br />
                  <input th:field="*{primerApellido}" type="text" placeholder="Primer Apellido"
                    name="primerApellido" /><br />
                  <input th:field="*{segundoApellido}" type="text" placeholder="Segundo Apellido"
                    name="segundoApellido" /><br />
                  <input th:field="*{titulos}" type="text" placeholder="Titulo" name="titulos" /><br />
                  <input th:field="*{especialidades}" type="text" placeholder="Especialidad"
                    name="especialidades" /><br />
                  <input th:field="*{servicios}" type="text" placeholder="Servicios" name="servicios" /><br />
                  <input th:field="*{img}" type="text" placeholder="URL Imagen" name="img" /><br />
                  <input class="guardar" type="submit" value="Guardar" /><br />
                </form>

              </div>

              <div class="card-footer bg-success"></div>
            </div>
          </div>
        </div>
  </section>

  </div>

</body>

</html>
