<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/doctoresAdmin.css}" />
    <title>Inicio</title>
</head>

<body>

    <div th:fragment="nav">
        <div class="nav">
            <div class="nav-container">
                <div class="nav-item">
                    <a th:href="@{/}">
                        <img class="logo" th:src="@{/imgs/Salvus-Logo.png}" alt="" />
                    </a>
                </div>
                <div class="nav-item">
                    <h3 class="nav-txt"><a th:href="@{/admin/pacientes}">PACIENTES</a></h3>
                </div>
                <div class="nav-item">
                    <h3 class="nav-txt"><a th:href="@{/admin/doctores}">DOCTORES</a></h3>
                </div>
                <div class="nav-item">
                    <h3 class="nav-txt"><a th:href="@{/admin/servicios}">SERVICIOS</a></h3>
                </div>
                <div class="nav-item">
                    <h3 class="nav-txt"><a th:href="@{/admin/usuarios}">USUARIOS</a></h3>
                </div>
                <div class="nav-item">
                    <h3 class="nav-txt"><a th:href="@{/admin/contacto}">CONTACTO</a></h3>
                </div>
            </div>
        </div>
    </div>



</body>

</html>