<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>Document</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="indexAdmin.css" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="nav">
      <div class="nav-container">
        <div class="nav-item">
          <img class="logo" src="Salvus-Logo.png" alt="" />
        </div>
        <div class="nav-content">
          <section class="content">
            <div class="cards-info">
              <div class="main-cards">
                <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-header">
                        <i id="home" class="fa-solid fa-house fa-2x"></i>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Bienvenido Usuario</h5>
                        <p class="card-text">
                          Familiarizate con los datos disponibles
                        </p>
                      </div>
                      <div class="card-footer bg-success">
                        <div class="nav-txt-container">
                          <a href="">
                            <h3 class="nav-txt">PACIENTES</h3>
                          </a>
                          <a href="">
                            <h3 class="nav-txt">DOCTORES</h3>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
