<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/styles/serviciosAdmin.css}" />
  <title>Inicio</title>
</head>

<body>

  <div th:replace="Admin/fragmentosAdmin :: nav"></div>

  <section class="content">
    <div class="main-cards">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <div class="card-header">
              <i class="fa-solid fa-house-medical fa-2x"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Manejo de Servicios</h5>
            </div>
            <div class="card-footer bg-success"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col-lg d-flex justify-content-center align-items-center">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregar">
                Agregar Servicio
              </button>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-9 mx-auto">
          <div id="Card-Pacientes" class="card">

            <div th:each="servicio : ${servicios}" class="card-body">
              <div class="card-info">
                <div class="servicio-data">
                  <h3>[[${servicio.nombre}]]</h3>
                  <br />
                  <p>
                    [[${servicio.descripcion}]]
                  </p>
                </div>
                <div class="btns">
                  <button type="button" class="btn btn-warning">
                    <a th:href="@{/servicios/editar/}+${servicio.idServicio}">
                      Editar
                    </a>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <a th:href="@{/servicios/eliminar/}+${servicio.idServicio}" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                  </button>
                </div>
              </div>
            </div>

            <div class="card-footer bg-success"></div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="Modals-Windows">

    <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalAgregarTitle">
              Agregar Servicio
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form" method="POST" th:action="@{/servicios/guardar}">
              <input name="nombre" type="text" placeholder="Nombre del Servicio" /><br />
              <textarea name="descripcion" cols="30" rows="10" placeholder="Descripcion"></textarea><br />
              <input class="guardar" type="submit" value="Guardar" /><br />
            </form>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalAgregarExpediente" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modalAgregarTitle">
              Agregar Expediente
            </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form" method="POST" th:action="@{/servicios/guardar}">
              <input name="conclusion" type="text" placeholder="Conclusion" /><br />
              <input name="pronostico" type="text" placeholder="Pronostico" /><br />
              <input name="seguimiento" type="text" placeholder="Seguimiento" /><br />
              <input name="tratamiento" type="text" placeholder="Tratamiento" /><br />
              <input class="guardar" type="submit" value="Guardar" /><br />
            </form>
          </div>
          <hr />
        </div>
      </div>
    </div>

  </section>
</body>

</html>
