<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>Clinica Salvus | Inicio</title>
</head>

<body>
    <header th:replace="Layout/templates :: header"></header>
    <div class="body">
        <nav class="nav">
            <ul class="nav-elements">
                <li class="nav-elements-li-logo">
                    <a class="nav-reference" href="#">
                        <img class="Salvus-Logo-Nav" th:src="@{/imgs/Salvus-Logo.png}" alt="Salvus-Logo">
                    </a>
                </li>
                <li class="nav-elements-li">
                    <a class="nav-reference" href="#">
                        <span class="material-symbols-outlined">
                            manage_accounts
                        </span>
                    </a>
                </li>
                <li class="nav-elements-li">
                    <a class="nav-reference" href="#">
                        <h3>PERSONAL MÉDICO</h3>
                    </a>
                </li>
                <li class="nav-elements-li">
                    <a class="nav-reference" href="#">
                        <h3>SERVICIOS</h3>
                    </a>
                </li>
                <li class="nav-elements-li-last">
                    <a class="nav-reference" href="#">
                        <h3>CONTÁCTO</h3>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="body1">
            <h1>
                <img class="Salvus-Logo-Body" th:src="@{/imgs/Salvus-Logo.png}" alt="">
            </h1>
            <h3 class="h3-text">Atención médica en tu hogar</h3>
            <hr>
            <div class="text">
                <p>
                    Mereces una excelente calidad de vida y servicio médico, por eso creamos salvus, una plataforma de
                    salud 100% On-Demand en la que podrás acceder de forma rápida, segura y personalizada a excelentes
                    profesionales en salud.

                </p>
            </div>

        </div>
        <div class="intern-body2">
            <div class="txt-intern">
                <div class="intern-h3">
                    <h3>
                        Conecta con atención médica virtual, agenda una visita domiciliaria o en consultorio
                    </h3>

                </div>
                <hr class="hr-intern">
                <div class="text-intern-body2">
                    <p>
                        Las largas filas, los horarios apretados o hasta el mismo miedo a salir le ha impedido a muchos
                        mantener su salud en línea, por suerte llegó Salvus y sus opciones de consejo médico profesional
                        por telemedicina, o bien su formato de cita presencial en tu lugar de preferencia. y si preferís
                        algo más clásico, agenda una cita directamente en el consultorio de tu preferencia desde nuestra
                        app.
                    </p>
                </div>
            </div>
            <img class="img-compu" th:src="@{/imgs/Computadora.png}" alt="Salvus-Computer">
        </div>

        <div class="body3">
            <div class="body3-part1">
                <div class="body3-part1-txt1">
                    <h3 class="body3-part1-txt1-h3">ESPECIALMENTE SALVUS</h3>
                    <br>
                    <p class="body3-part1-txt1-p">
                        Agilizamos tu proceso de encontrar cita, agendarla, coordinar con el médico, siempre priorizando
                        tu experiencia y necesidad.
                    </p>
                </div>
                <hr class="body3-part1-hr">
                <div class="body3-part1-icons">
                    <i id="icon1" class="fa-sharp fa-solid fa-handshake fa-5x"></i>
                    <i id="icon2" class="fa-solid fa-users fa-5x"></i>
                    <i id="icon3" class="fa-solid fa-kit-medical fa-5x"></i>
                    <i id="icon4" class="fa-solid fa-circle-dollar-to-slot fa-5x"></i>
                </div>
                <div class="body3-part1-txt2">
                    <p>CUIDANDO TUS VALORES</p>
                    <p>CUIDANDO A LOS TUYOS</p>
                    <p>CUIDANDO TU SALUD</p>
                    <p>CUIDANDO TU BOLSILLO</p>
                </div>
            </div>
            <div class="body3-part2">
                <div class="part2-text">
                    <div class="body3-part2-text-text1">
                        <hr class="part2-text-text1-hr">
                        <p class="part2-text-text1-p">
                            "Como usuario de la aplicación de Salvus, debo decir que me ha parecido muy útil. En primer
                            lugar, la aplicación me permitió agendar una cita médica de forma rápida y sencilla, sin
                            necesidad de tener que llamar a la clínica o acudir en persona. Esto fue muy conveniente y
                            ahorró mucho tiempo." <br>
                            - Andrés Ospina
                        </p>
                    </div>
                    <div class="body3-part2-text-text2">
                        <hr class="part2-text-text1-hr">
                        <p class="part2-text-text1-p">
                            "Como usuario de la aplicación de Salvus, debo decir que me ha parecido muy útil. En primer
                            lugar, la aplicación me permitió agendar una cita médica de forma rápida y sencilla, sin
                            necesidad de tener que llamar a la clínica o acudir en persona. Esto fue muy conveniente y
                            ahorró mucho tiempo." <br>
                            - Andrés Ospina
                        </p>
                    </div>
                </div>

                <img class="avatar-img" th:src="@{/imgs/avatar.png}" src="IMG/avatar.png" alt="Avatar">

            </div>
        </div>
    </div>

</body>

</html>
